.checkbox-list {
	margin: 4px 0 0;
	padding: 0 6.25% 0;

	list-style: none;
}

.checkbox-list__item {
	position: relative;

	padding: 0 0 25px 45px;
}

.checkbox-list__field-title::before {
	content: "";

	position: absolute;
	left: 0;
	top: -6px;

	width: 30px;
	height: 30px;

	border: 1px solid #cdcdcd;
}

.checkbox-list__field-title::after {
	content: "";

	position: absolute;
	left: 8.5px;
	top: -5.5px;
	
	display: none;
	width: 13px;
	height: 20.1px;

	background-color: transparent;
	border-bottom: 2px solid $green;
	border-right: 2px solid $green;
	transform: rotate(45deg);
}

.checkbox-list__field-title:hover::before {
	border-color: #bababa;
}

.checkbox-list__field-title:active::after {
	display: block;
} 

.checkbox-list__field-title:active {
	opacity: 0.3;
} 

.checkbox-list__btn:checked ~ .checkbox-list__field-title::after {
	display: block;
}

.checkbox-list__btn:disabled ~ .checkbox-list__field-title::before,
.checkbox-list__btn:disabled ~ .checkbox-list__field-title {
	opacity: 0.3;
}

@media (min-width: $tablet-width) {
	.checkbox-list {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 23px 30px 13px;
	}
	.checkbox-list__item {
		width: 304px;
		padding: 0 0 51px 68px;
	}
	.checkbox-list__field-title::before {
		width: 40px;
		height: 40px;
		left: 10px;
		top: -10px;
	}
	.checkbox-list__field-title::after {
		left: 23.5px;
		top: -4.5px;
		width: 13px;
		height: 20.1px;
	}
}
@media (min-width: $desktop-width) {
	.checkbox-list {
		width: 100%;
		padding: 0 0 17px;
		margin-top: 0;
	}
	.checkbox-list__item {
		padding-left: 57px;
		width: 245px;
	}
	.checkbox-list__field-title::before {
		left: 3px;
	}
	.checkbox-list__field-title::after  {
		top: -9.5px;
		left: 16.5px;
	}
}