.contacts {
	width: 100%;
	background-color: $white;
}
.contacts__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 87.5%;
	padding: 28px 6.25% 26px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: $white;
}

.contacts__cooperation {
	width: 50%;
	margin: 0;
	font-family: $oswald;
	font-size: 16px;
	line-height: 20px;
	color: $black;
	font-weight: normal;
	text-transform: uppercase;
}
.contacts__address {
	width: 50%;
	margin: 0;
	font-family: $arial;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}
.contacts__map {
	width: 100%;
	height: 360px;
}

@media (min-width: $tablet-width) {
	.contacts__info {
		width: 81.5%;
		padding: 63px 9.25% 58px;
		display: flex;
	}
	.contacts__cooperation {
		width: 30%;
		padding: 2px 0 0;
		font-size: 20px;
		line-height: 1.25;

	}
	.contacts__address {
		width: 30%;
		padding: 0;
		font-size: 16px;
		line-height: 1.25;
		text-align: right;
	}
	.contacts__street {
		display: inline-block;
		padding-bottom: 20px;
	}
	.contacts__map {
		height: 400px;
	}
}

@media (min-width: $desktop-width) {
	.contacts__info {
		position: relative;
		top: -3px;
		left: 7.64%;
		padding: 63px 76px 58px;
		width: 418px;
	}
	.contacts__cooperation {
		width: 40%;
		padding: 2px 0 0;
	}
	.contacts__address {
		width: 40%;
		padding: 0 0 0;
		text-align: left;
	}
	.contacts__map {
		margin-top: -300px;
	}
}