.example {
  width: 100%;
  margin: 0;
  padding: 17px 6.25% 2px;

  font-weight: normal;

  background-color: $lightgrey;
  overflow: hidden;
}

.example__title {
  margin: 0 0 0 0;
  padding: 0 0 23px 0;

  font-family: $oswald;
  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
  color: $black;
}

.example__info-wrapper {
  margin-bottom: 44px;
}

.example__text {
  margin: 0;
  padding: 0 5% 24px 0;

  font-family: $arial;
  font-size: 14px;
  line-height: 1.29;
  color: $grey;
}

.example__table {
  width: 100%;
}

.example__table tbody {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  width: 100%;
}

.example__table-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85.4%;

  background-color: transparent;
}

.example__title-item {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 34.3%;
  margin: -10px 0 0 0;

  font-family: $arial;
  font-size: 12px;
  line-height: 1;
  color: $grey;
  text-align: center;
  text-transform: lowercase;

  background-color: $lightgrey;
}

.example__table-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.example__text-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 15px 0;
  width: 44%;

  font-family: $oswald;
  font-size: 24px;
  line-height: 1;
  color: $black;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__price {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 17px 0 0 0;

  font-family: $oswald;
  font-size: 14px;
  line-height: 1;
  color: $black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: $white;
  }

  .example__title {
    width: 768px;
    margin: 0 auto;
    padding: 43px 30px 64px;

    font-size: 60px;
    line-height: 1;
  }

  .example__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .example__text {
    padding: 0 6px 51px 0;

    font-size: 16px;
    line-height: 1.5;
  }

  .example__table {
    width: 366px;
  }

  .example__table-title {
    width: 366px;
    padding: 0 10px 50px 24px;
  }

  .example__title-item {
    margin: -10px 0 0 0;

    font-size: 14px;

    background-color: $white;

    &--weight {
      width: 114px;
    }

    &--time {
      width: 142px;
    }
  }

  .example__text-item {
    padding: 17px 0;

    font-size: 30px;
    line-height: 1.23;
  }

  .example__price {
    width: 195px;
    padding: 8px 0 0 0;
    margin: 0;

    font-size: 20px;
    line-height: 1;

    text-align: right;
  }

  .example__price-title {
    display: inline-block;
    padding: 5px 0 9px;

    vertical-align: baseline;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: 100%;
    padding: 0 0 0;
    margin: 0;

    background-color: $lightgrey;

    overflow: visible;
  }

  .example__title-wrapper {
    width: 100%;
    padding-bottom: 76px;

    background-color: $white;
  }

  .example__title {
    z-index: 10;

    width: 1300px;
    padding: 0 40% 0 40px;
    margin: 0 auto;

    text-align: left;
    font-size: 60px;

    background-color: $white;
  }

  .example__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;

    &::after {
      content: "";
    }
  }

  .example__info-wrapper {
    z-index: 3;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 435px;
    padding: 71px 0 0 0;
    margin: 0;

    background-color: $lightgrey;
  }

  .example__text {
    padding: 0 0 65px;
  }

  .example__table {
    padding: 0;
  }

  .example__title-item {
    background-color: $lightgrey;
  }

  .example__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 326px;
    padding: 3px 0 0;
  }

  .example__price-title {
    padding: 0;
  }
}
