.page-header {
	width: 100%;

	background-color: $white;
}

.page-header__logo {
	display: flex;
	align-items: center;
	height: 65px;

	border-bottom: 2px solid #e6e6e6;
}

.page-header__logo-image {
	width: 191px;
	height: 38px;
	margin-left: 6%;	
}

.page-header__logo-image:hover,
.page-header__logo-image:focus {
	opacity: 0.8;
}

.page-header__logo-image:active {
	opacity: 0.6;
}


@media (min-width: $tablet-width) {

	.page-header__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 786px;
		padding: 24px 46px;
		margin: 0 auto;
	}

	.page-header__logo {
		width: 174px;
		height: 60px;
		
		border-bottom: none;
	}

	.page-header__Logo-image {
		width: 174px;
		height: 59px;
	}
}

@media (min-width: $desktop-width) {
	.page-header {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		min-height: 696px;
		margin-bottom: 81px;

		&--index::after {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			left: 50%;
			bottom: 0;
			width: 50%;
			height: 696px;
			background-color: #65a93c;
			background-image: url(../../img/index-background-desktop@1x.jpg);
			background-repeat: no-repeat;
			background-position: right bottom;
			background-size: 720px auto;
		}
	}
	.page-header__wrapper {
		width: 1300px;
		padding: 0 40px;
	}

	.page-header__logo {	
		padding: 85px 0;
	}

	.page-header__image {
		width: 203px;
		height: 60px;
	}
}