.page-footer {
  width: 100%;

  background-color: $lightgrey;
}

.page-footer__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.page-footer__logo {
  width: 129px;
  height: 24px;
  padding: 38px 0 56px;
}

.page-footer__logo-image:hover,
.page-footer__logo-image:focus {
  opacity: 0.8;
}

.page-footer__logo-image:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 768px;
    padding: 54px 22px 58px 30px;
    margin: 0 auto;
  }

  .page-footer__logo {
    padding: 0;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__sidebar {
    width: 1300px;
    padding: 58px 33px 58px 40px;
    margin: 0 auto;
  }
}
