/*@font-face {
	font-family: "Oswald";
	src: url ("../fonts/oswaldregular.woff") format ("woff");
	src: url ("../fonts/oswaldregular.woff2") format ("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Oswald";
	src: url ("../fonts/oswaldmedium.woff") format ("woff");
	src: url ("../fonts/oswaldmedium.woff2") format ("woff2");
	font-weight: medium;
	font-style: normal;
}
*/
body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-family: $oswald;
	font-size: 14px;
	line-height: 18px;
	color: $grey;
	font-style: normal;
	
	background-color: $white;
}

@media (min-width: $tablet-width) {
	body {
		min-width: 768px;
	}
}

@media (min-width: $desktop-width) {
	body {
		min-width: 1440px;
	}
	.container {
		max-width: 1440px;
		background-color: lightblue;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}